.footer-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    direction: rtl;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.132);
}

.footer-column {
    padding: 10px;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.footer-column ul li svg {
    margin-left: 5px;
    color: rgb(46, 46, 46);
}

@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}